<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775898877631-tfnj5nvlghpc9d0a7mbukjj80spokamh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775898877631-tfnj5nvlghpc9d0a7mbukjj80spokamh</string>
	<key>API_KEY</key>
	<string>AIzaSyAEep54Ggb_qjK6yD4qkVrvLHb3ewjflIE</string>
	<key>GCM_SENDER_ID</key>
	<string>775898877631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlyMovie</string>
	<key>PROJECT_ID</key>
	<string>movieapp-75d13</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-75d13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775898877631:ios:f746f8c2fb0649bc6d400a</string>
</dict>
</plist>